<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">


    <bean id="helloMessage" class="com.study.code.HelloMessage"/>
    <bean id="goodByeMessage" class="com.study.code.GoodByeMessage"/>
    <bean id="consoleLogger" class="com.study.code.ConsoleLogger"/>

    <bean id="messagePrinter" class="com.study.code.MessagePrinter">
        <constructor-arg ref="goodByeMessage"/>
    </bean>

    <aop:config>
        <aop:aspect ref="consoleLogger">
            <aop:pointcut id="print" expression="execution(* *.printMessage())"/>
            <aop:before pointcut-ref="print" method="logBefore"/>
            <aop:after pointcut-ref="print" method="logAfter"/>
        </aop:aspect>
    </aop:config>

</beans>